@charset "utf-8";

@font-face {
    font-family: "YuGothic M";
    src: local("Yu Gothic Medium"),
         local("Yu Gothic");
    font-weight: 700;
  }

body{
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
}

.calendar{
    margin-left: 2%;
    user-select:none
}
td{
    width: 40px;
    height: 40px;
    padding:  10px;
    text-align: center;
    cursor: default;
}

.date_circle:hover {
    width: 100%;
    border-radius: 50%;
    background: rgb(135, 206, 250);
    margin: auto;
    vertical-align:center;
}

.diary-box{
    display: inline;
}
.today{
    background-color: aquamarine;
}

caption{
    cursor: default;
    padding: 10px 0px;
    background-color: lightblue;
    text-align: left;
}
input{
    border:1px solid #525252;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  textarea{
    border:1px solid #525252;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .frame-box { width: 600px; }
  .calendar-box { width: 300px; float: left; }
  .diary-box { margin-top: 50px; width: 280px;float: right; }
  .diary_date { font-size: 9pt; }
  .calendar { float: left; margin: 4px; }
  .calendar * { text-align: center; font-size: 9pt; }
  .calendar td.today { background:  aquamarine }
  .calendar .sat { color:#4169e1; }
  .calendar .sun { color:#ff0000; }